<h1>Comments#index</h1>
<p>Find me in app/views/comments/index.html.erb</p>

<% @comments.each do |cm| %>
    <div>
        <%= cm.id %>
        <%= cm.text%>
        <%= cm.ticket_id%>
    </div>
<% end %>
