<!-- Navigation -->
<nav class="navbar navbar-expand-md navbar-dark bg-dark sticky-top">
<div class="container-fluid">
    <a class="navbar-brand" href="/client_welcome"><img src="/assets/greenleafsquad.jpeg"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href= "/clients/<%= session[:logged_in_user_id]%>"><%= session[:username]%></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href= "/clients/<%= session[:logged_in_user_id]%>/edit">Update your account</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href= "/tickets/new">Create a New Ticket</a>
        </li>
        <li class="nav-btn">
          <a class="nav-link" data-method="post" href="/logout">Logout</a>
        </li>
      </ul>
    </div>  
</div>
</nav>