@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

@font-face {
    font-family: bilboregular;
    src: url(/assets/bilboregular.ttf);
}

h1 {
    font-family: bilboregular;
}

body {
    background:white 
}

.pretty_margin {
    margin: 35px;
    font-family: Arial, Helvetica;
}

