<%= render partial: "shared/client_top_banner_form"%>

<div class=pretty_margin>
<h1> Welcome to Green Leaf Squad.  </h1>
<h4> Going there and back again for our customers since the Third Age. </h4>
<h4> Thanks for logging in, <%= @user.first_name %>. </h4>
<br>
<h4>About our company:</h4>
<p> We are the best IT tech support in all of Arda.  We started this company in the Third Age, year 3002 because too many
living beings needed our help.  We hope that this site is very "PRECIOUUSSSS" in helping you with your I.T. needs.  Please feel free to create a ticket and we will help you as soon as possible.</p> 



</div>
