<%= render partial: "shared/client_top_banner_form"%>

<div class=pretty_margin>
<h1> Welcome to Green Leaf Squad.  </h1>
<h4> Going there and back again for our customers </h4>
<h2> Thanks for logging in, <%= @user.first_name %> </h2>





</div>
